## MBTI 500 Pre-Processing

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Load data

In [2]:
df=pd.read_csv('../data/MBTI 500.csv') #importing the dataset

In [3]:
df.head(n=2)

                                               posts  type
0  know intj tool use interaction people excuse a...  INTJ
1  rap music ehh opp yeah know valid well know fa...  INTJ

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106067 entries, 0 to 106066
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   posts   106067 non-null  object
 1   type    106067 non-null  object
dtypes: object(2)
memory usage: 1.6+ MB

In [5]:
# describe the values i the type column and the number of each value
df['type'].value_counts()

type
INTP    24961
INTJ    22427
INFJ    14963
INFP    12134
ENTP    11725
ENFP     6167
ISTP     3424
ENTJ     2955
ESTP     1986
ENFJ     1534
ISTJ     1243
ISFP      875
ISFJ      650
ESTJ      482
ESFP      360
ESFJ      181
Name: count, dtype: int64

In [6]:
# add new 4 columns for each axis of the personality
df['IE'] = df['type'].apply(lambda x: x[0])
df['NS'] = df['type'].apply(lambda x: x[1])
df['TF'] = df['type'].apply(lambda x: x[2])
df['JP'] = df['type'].apply(lambda x: x[3])

df.head(n=2)

                                               posts  type IE NS TF JP
0  know intj tool use interaction people excuse a...  INTJ  I  N  T  J
1  rap music ehh opp yeah know valid well know fa...  INTJ  I  N  T  J

In [7]:
#  assign 0 to Introvert, Intuition, Thinking, Judging and 1 to Extrovert, Sensing, Feeling, Perceiving
df['IE'] = df['IE'].apply(lambda x: 0 if x == 'I' else 1)
df['NS'] = df['NS'].apply(lambda x: 0 if x == 'N' else 1)
df['TF'] = df['TF'].apply(lambda x: 0 if x == 'T' else 1)
df['JP'] = df['JP'].apply(lambda x: 0 if x == 'J' else 1)

df.head(n=2)

                                               posts  type  IE  NS  TF  JP
0  know intj tool use interaction people excuse a...  INTJ   0   0   0   0
1  rap music ehh opp yeah know valid well know fa...  INTJ   0   0   0   0

In [8]:
# count the number of each value in each column
print(df['IE'].value_counts())
print(df['NS'].value_counts())
print(df['TF'].value_counts())
print(df['JP'].value_counts())

IE
0    80677
1    25390
Name: count, dtype: int64
NS
0    96866
1     9201
Name: count, dtype: int64
TF
0    69203
1    36864
Name: count, dtype: int64
JP
1    61632
0    44435
Name: count, dtype: int64

In [9]:
# save the new dataset
df.to_csv('../data/MBTI 500 multi_label.csv', index=False)

In [10]:
from datasets import load_dataset

# dataset = load_dataset("ClaudiaRichard/mbti_classification_v2")

In [11]:
# count the number of each value in IE column
print(dataset['train']['I/E'].count(0))
print(dataset['train']['I/E'].count(1))

NameError: name 'dataset' is not defined

In [ ]:
# count the number of each value in NS column
print(dataset['train']['N/S'].count(0))
print(dataset['train']['N/S'].count(1))

82186
12980

In [ ]:
# count the number of each value in TF column
print(dataset['train']['T/F'].count(0))
print(dataset['train']['T/F'].count(1))

43637
51529

In [ ]:
# count the number of each value in JP column
print(dataset['train']['J/P'].count(0))
print(dataset['train']['J/P'].count(1))

37732
57434

In [ ]:
# measure the average length of the posts
df['words_per_comment'] = df['posts'].apply(lambda x: len(x.split())/50)
print('Average words per comment:', df['words_per_comment'].mean())

Average words per comment: 10.000396353248417