In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('traits-train-data.csv')

In [3]:
data.head(n=2)

,source_id,guid,doc_id,scale,raw_text,text,lexical,structural,other,label_type,label,set,label_mapped_to_big5,facet
0,IPIP,irarelyfeeldepressed,Q1001,BFAS,Rarely feel depressed,I rarely feel depressed.,1,1,1,hard,neuroticism,train,neuroticism,anxiety
1,IPIP,ialwaysknowwhatiamdoing,Q1026,BFAS,Always know what I am doing,I always know what I am doing.,1,1,1,hard,conscientiousness,train,conscientiousness,industriousness/perseverance/persistence

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 733 entries, 0 to 732
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   source_id             733 non-null    object
 1   guid                  733 non-null    object
 2   doc_id                733 non-null    object
 3   scale                 733 non-null    object
 4   raw_text              733 non-null    object
 5   text                  733 non-null    object
 6   lexical               733 non-null    int64
 7   structural            733 non-null    int64
 8   other                 733 non-null    int64
 9   label_type            733 non-null    object
 10  label                 733 non-null    object
 11  set                   733 non-null    object
 12  label_mapped_to_big5  733 non-null    object
 13  facet                 733 non-null    object
dtypes: int64(3), object(11)
memory usage: 80.3+ KB

In [5]:
data.label.value_counts()

label
extraversion         158
conscientiousness    153
agreeableness        152
openness             140
neuroticism          130
Name: count, dtype: int64

In [6]:
cleaned_data = data.dropna()

In [7]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 733 entries, 0 to 732
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   source_id             733 non-null    object
 1   guid                  733 non-null    object
 2   doc_id                733 non-null    object
 3   scale                 733 non-null    object
 4   raw_text              733 non-null    object
 5   text                  733 non-null    object
 6   lexical               733 non-null    int64
 7   structural            733 non-null    int64
 8   other                 733 non-null    int64
 9   label_type            733 non-null    object
 10  label                 733 non-null    object
 11  set                   733 non-null    object
 12  label_mapped_to_big5  733 non-null    object
 13  facet                 733 non-null    object
dtypes: int64(3), object(11)
memory usage: 80.3+ KB

In [8]:
# extract text and labels from the data
cleaned_data= cleaned_data[['text','label']]

In [9]:
cleaned_data.head(n=2)

                             text              label
0        I rarely feel depressed.        neuroticism
1  I always know what I am doing.  conscientiousness

In [10]:
# add a new column to the dataframe to encode the labels
cleaned_data['label_id'] = cleaned_data['label'].factorize()[0]

In [11]:
cleaned_data.head(n=10)

                                        text              label  label_id
0                   I rarely feel depressed.        neuroticism         0
1             I always know what I am doing.  conscientiousness         1
2  I do not put my mind on the task at hand.  conscientiousness         1
3                        I keep things tidy.  conscientiousness         1
4                             I laugh a lot.       extraversion         2
5  I rarely get caught up in the excitement.       extraversion         2
6       I am not a very enthusiastic person.       extraversion         2
7             I see myself as a good leader.       extraversion         2
8       I can talk others into doing things.       extraversion         2
9    I do not have an assertive personality.       extraversion         2

In [12]:
# add a new column to the dataframe to mention enterpreneur or not randomly
cleaned_data['enterpreneur'] = np.random.randint(2, size=cleaned_data.shape[0])

In [13]:
cleaned_data.head(n=10)

,text,label,label_id,enterpreneur
0,I rarely feel depressed.,neuroticism,0,1
1,I always know what I am doing.,conscientiousness,1,1
2,I do not put my mind on the task at hand.,conscientiousness,1,1
3,I keep things tidy.,conscientiousness,1,1
4,I laugh a lot.,extraversion,2,1
5,I rarely get caught up in the excitement.,extraversion,2,1
6,I am not a very enthusiastic person.,extraversion,2,1
7,I see myself as a good leader.,extraversion,2,1
8,I can talk others into doing things.,extraversion,2,0
9,I do not have an assertive personality.,extraversion,2,1

In [14]:
# rename the enterpreneur column to be target
cleaned_data.rename(columns={'enterpreneur':'target'}, inplace=True)

In [15]:
cleaned_data.head(n=2)

                             text              label  label_id  target
0        I rarely feel depressed.        neuroticism         0       1
1  I always know what I am doing.  conscientiousness         1       1

In [16]:
# save the cleaned data to a new csv file
cleaned_data.to_csv('cleaned-dummy-data.csv', index=False)

In [17]:
cleaned_data.head(n=2)

                             text              label  label_id  target
0        I rarely feel depressed.        neuroticism         0       1
1  I always know what I am doing.  conscientiousness         1       1